

<div class="row">
  <div class="col-md-6 m-auto">
    <div class="card card-body mt-5 pb-5 text-center">
      <h1> Editing a Todo</h1>
      <form action="/Todo/editTodo/<%=todo_id%>" method="POST">
        <label for="todoTitle">Todo Title</label>
        <input class="form-control" type="text" value="<%=todo_title%>" name="todo_title">
        <label for="todoDesc">Todo Description</label>
        <input class="form-control mb-2" type="text" value="<%=todo_desc%>" name="todo_desc">
        <button onclick="editTodo()"class="btn btn-primary" type="submit">Edit Todo</button>
        <a href="/todo/viewTodo" class="btn btn-secondary">Back</a>
      </form>
    </div>
  </div>
</div>


<style>

.card{
  border-radius: 25px;
}

</style>

<script>

function editTodo(){
  alert('Todo Edited!')
}

</script>
