
<div class="row">
    <div class="col-md-6 m-auto">
      <div class="card card-body mt-5 pb-5 text-center">
        <h1 class="display-4"> Todo Details</h1>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody>
                <% todo.forEach((todo_item)=>{ %>
                    <tr>
                        <td><%= todo_item.id %></td>
                        <td><%= todo_item.todo_title %></td>
                        <td > <%= todo_item.todo_desc%></td>
                        <td><%= todo_item.createdAt %></td>
                    </tr>
                <% }) %>
                <% if(todo.length==0) {%>
                  <h2>No todos yet</h2>
                  <%}%>
            </tbody>
        </table>
        <a href="/todo/viewTodo" class="btn btn-secondary">Back</a>
      </div>
    </div>
  </div>


<style>

.card{
  border-radius: 25px;
}

</style>
